@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* global.css */

.light-effect {
  position: relative;
}

.light-effect::before,
.light-effect::after {
  content: '';
  position: absolute;
  top: 10rem;
  width: 330px;
  height: 330px; 
  border-radius: 50%;
  background: #7457EE;
  filter: blur(140px); 
  z-index: -1;
}

.light-effect::before {
  left: -100px; 
}

.light-effect::after {
  right: -100px; 
}
/*  */
.light-effect-l {
  position: relative;
}

.light-effect-l::before{
  content: '';
  position: absolute;
  top: 10rem;
  width: 330px;
  height: 330px; 
  border-radius: 50%;
  background: #7457EE;
  filter: blur(140px); 
  z-index: -1;
}

.light-effect-l::before {
  left: -100px; 
}


.dark-scrollbar::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: #010027; /* Background color of the scrollbar track */
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background-color: #120d44; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded edges */
  border: 3px solid #010027; /* Gives a smooth, borderless look by matching track background */
}

.dark-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide the up and down arrows */
}